Repository FCP-INDI/C-PAC: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoversioning, update-yaml-comments

.pre-commit-config.yaml:

# Copyright (C) 2024  C-PAC Developers

# This file is part of C-PAC.

# C-PAC is free software: you can redistribute it and/or modify it under
# the terms of the GNU Lesser General Public License as published by the
# Free Software Foundation, either version 3 of the License, or (at your
# option) any later version.

# C-PAC is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public
# License for more details.

# You should have received a copy of the GNU Lesser General Public
# License along with C-PAC. If not, see <https://www.gnu.org/licenses/>.
ci:
  skip:
    - autoversioning
    - update-yaml-comments
repos:
  - repo: local
    hooks:
      - id: autoversioning
        name: Update Dockerfiles and version comments
        entry: .github/scripts/autoversioning.sh
        language: script
        files: '.*Dockerfile$|.*\.yaml$|^CPAC/info\.py$'
      - id: update-yaml-comments
        name: Update YAML comments
        entry: CPAC/utils/configuration/yaml_template.py
        language: python
        files: '^CPAC/resources/configs/pipeline_config_.*\.ya?ml'
        additional_dependencies:
          - "click"
          - "nipype"
          - "pathvalidate"
          - "pyyaml"
          - "voluptuous"

:bug: Remove extra inputs
  CPAC/func_preproc/func_motion.py
Due: none

:necktie: Resequence motion
  CPAC/func_preproc/func_motion.py
Due: none

:white_check_mark: Update `test_NodeBlock_option_SSOT`
  CPAC/func_preproc/func_motion.py
  CPAC/utils/tests/test_utils.py
Due: none

fixup! :necktie: Resequence motion
  CPAC/func_preproc/func_motion.py
Due: none

fixup! fixup! :necktie: Resequence motion
  CPAC/func_preproc/func_motion.py
Due: none

:arrow_up: Upgrade `requests` 2.32.0 → 2.32.3
  CHANGELOG.md
  dev/docker_data/unpinned_requirements.txt
  requirements.txt
Due: none

adding native transforms (.mat files) to outputs
  CPAC/pipeline/schema.py
  CPAC/registration/registration.py
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/configs/pipeline_config_default.yml
  CPAC/resources/cpac_outputs.tsv
Due: update-yaml-comments

adding to the changelog
  CHANGELOG.md
  CPAC/registration/registration.py
  CPAC/resources/cpac_outputs.tsv
Due: none

adding tests for the registration connectors for added outputs
  CPAC/registration/tests/test_ants_registration_connector.py
  CPAC/registration/tests/test_fsl_registration_connector.py
Due: none

fixing imports in the test
  CPAC/registration/tests/test_ants_registration_connector.py
Due: none

fixed imports
  CPAC/registration/tests/test_ants_registration_connector.py
Due: none

rewriting the tests for registration connector
  CPAC/registration/tests/test_ants_registration_connector.py
  CPAC/registration/tests/test_fsl_registration_connector.py
Due: none

cfg changes for pytest
  CPAC/registration/tests/test_ants_registration_connector.py
  CPAC/registration/tests/test_fsl_registration_connector.py
Due: none

renamed linear_xfm to flirt_xfm and updated the tests
  CPAC/pipeline/nipype_pipeline_engine/engine.py
  CPAC/registration/registration.py
  CPAC/registration/tests/test_ants_registration_connector.py
  CPAC/registration/tests/test_fsl_registration_connector.py
Due: none

Update CPAC/registration/tests/test_ants_registration_connector.py
  CPAC/registration/tests/test_ants_registration_connector.py
Due: none

Update CPAC/registration/tests/test_fsl_registration_connector.py
  CPAC/registration/tests/test_fsl_registration_connector.py
Due: none

updating the output names and unit tests
  CPAC/registration/registration.py
  CPAC/registration/tests/test_ants_registration_connector.py
  CPAC/registration/tests/test_fsl_registration_connector.py
  CPAC/resources/cpac_outputs.tsv
  CPAC/utils/tests/test_utils.py
Due: none

fixup! fixup! fixup! :necktie: Resequence motion
  CPAC/func_preproc/func_motion.py
Due: none

afni
  .github/Dockerfiles/AFNI.25.1.08-jammy.Dockerfile
  .github/stage_requirements/lite.txt
  .github/stage_requirements/phase_two.txt
Due: autoversioning

afni
  dev/docker_data/checksum/AFNI.23.3.09.sha384
  dev/docker_data/checksum/AFNI.25.1.08.sha384
Due: none

upgrading AFNI to latest version
  .github/Dockerfiles/AFNI.23.3.09-jammy.Dockerfile
Due: autoversioning

replacing 3drefit with 3dwarp in func deoblique
  CPAC/func_preproc/func_preproc.py
  CPAC/utils/utils.py
  dev/docker_data/required_afni_pkgs.txt
Due: none

keeping afni packages
  .github/Dockerfiles/AFNI.23.3.09-jammy.Dockerfile
Due: autoversioning

replacing 3drefit with 3dwarp in anat deoblique
  CPAC/anat_preproc/anat_preproc.py
Due: none

afni
  .github/Dockerfiles/AFNI.25.1.08-jammy.Dockerfile
Due: autoversioning

afni
  .github/Dockerfiles/base-lite.Dockerfile
Due: autoversioning

[rebuild AFNI.23.3.09-jammy] [rebuild lite]
  .github/Dockerfiles/AFNI.23.3.09-jammy.Dockerfile
  .github/stage_requirements/lite.txt
  .github/stage_requirements/phase_two.txt
Due: autoversioning

[rebuild AFNI.23.3.09-jammy] [rebuild lite]
  dev/docker_data/checksum/AFNI.23.3.09.sha384
  dev/docker_data/checksum/AFNI.25.1.08.sha384
Due: none

[rebuild AFNI.23.3.09-jammy] [rebuild lite]
  .github/Dockerfiles/AFNI.23.3.09-jammy.Dockerfile
Due: autoversioning

[rebuild AFNI.23.3.09-jammy] [rebuild lite]
  .github/Dockerfiles/AFNI.23.3.09-jammy.Dockerfile
  .github/Dockerfiles/base-lite.Dockerfile
  dev/docker_data/required_afni_pkgs.txt
Due: autoversioning

:pencil2: `_`, not `.`
  dev/docker_data/checksum/AFNI.23.3.09.sha384
Due: none

:rotating_light: Fix casing
  .github/Dockerfiles/AFNI.23.3.09-jammy.Dockerfile
Due: autoversioning

with precommit changes
  CPAC/anat_preproc/anat_preproc.py
  CPAC/func_preproc/func_preproc.py
  CPAC/func_preproc/utils.py
  CPAC/pipeline/schema.py
  CPAC/resources/configs/pipeline_config_default.yml
  CPAC/utils/utils.py
Due: update-yaml-comments

rebase with pre-config
  CHANGELOG.md
  CPAC/func_preproc/func_preproc.py
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/configs/pipeline_config_default.yml
Due: update-yaml-comments

Update CPAC/utils/utils.py
  CPAC/utils/utils.py
Due: none
