Repository FCP-INDI/C-PAC: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoversioning, update-yaml-comments

autoversioning:
  name: Update Dockerfiles and version comments
  entry: .github/scripts/autoversioning.sh
  language: script

update-yaml-comments:
  name: Update YAML comments
  entry: CPAC/utils/configuration/yaml_template.py
  language: python
  additional_dependencies:
  - click
  - nipype
  - pathvalidate
  - pyyaml
  - voluptuous

:bug: Fix package ID call
  .github/scripts/get_package_id.py
Due: none

:bug: Fix variant pointer
  .github/workflows/delete_images.yml
Due: none

:construction_worker: Continue on error
  .github/workflows/delete_images.yml
Due: none

:construction_worker: Update delete package secret
  .github/workflows/delete_images.yml
Due: none

:construction_worker: Set OWNER_TYPE
  .github/workflows/delete_images.yml
Due: none

:necktie: Cap exported owner type at 4 chars
  .github/workflows/delete_images.yml
Due: none

:lock: Give initial script enough permissions for subscripts
  .github/workflows/build_C-PAC.yml
  .github/workflows/build_and_test.yml
  .github/workflows/deploy_to_Docker_Hub.yml
  .github/workflows/on_push.yml
  .github/workflows/regression_test_full.yml
  .github/workflows/regression_test_lite.yml
  .github/workflows/smoke_test_participant.yml
Due: none

adding quick bold masking with automask
  CPAC/func_preproc/func_motion.py
  CPAC/func_preproc/func_preproc.py
  CPAC/pipeline/cpac_pipeline.py
  CPAC/resources/configs/pipeline_config_abcd-options.yml
Due: update-yaml-comments

tweaking the switch to match the new nodeblock
  CPAC/func_preproc/func_preproc.py
Due: none

:bug: Update outputs for `apply_blip_to_timeseries_separately`
  CPAC/registration/registration.py
Due: none

using afni.Automask instead of MaskTool
  CPAC/func_preproc/func_motion.py
Due: none

adding to changelog
  CHANGELOG.md
Due: none

Reverting few custom changes used for testing
  CPAC/resources/configs/pipeline_config_abcd-options.yml
Due: update-yaml-comments

:bug: Fix `TypeError: unsupported operand type(s) for -: 'NoneType' and 'NoneType'`
  CPAC/utils/monitoring/draw_gantt_chart.py
Due: none

changes made to the resolve confusing namings after jon's review
  CPAC/func_preproc/func_preproc.py
  CPAC/pipeline/cpac_pipeline.py
  CPAC/resources/configs/pipeline_config_abcd-options.yml
  CPAC/resources/configs/pipeline_config_abcd-prep.yml
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/configs/pipeline_config_default.yml
Due: update-yaml-comments

removing schema validation for removed switch
  CPAC/pipeline/schema.py
Due: none

:bulb: Remove extra comments
  .codecov.yml
Due: none

:wrench: Specify main branch for codecov reporting
  .codecov.yml
Due: none

:wrench: Adjust coverage target range
  .codecov.yml
Due: none

:wrench: Configure coverage
  pyproject.toml
Due: none

:construction_worker: Report coverage to codecov instead of Circle artifact
  .circleci/main.yml
Due: none

:memo: Add coverage badge to README
  README.md
Due: none

:wrench: :construction_worker: Configure codecov
  .codecov.yml
Due: none

:bug: Decode bytestrings before coercing types
  CPAC/utils/utils.py
Due: none

:recycle: Modernize test
  CPAC/nuisance/tests/test_utils.py
Due: none

:recycle: Skip header when loading TSV into NumPy
  CPAC/nuisance/nuisance.py
  CPAC/nuisance/tests/test_utils.py
  CPAC/nuisance/utils/__init__.py
  CPAC/nuisance/utils/utils.py
Due: none

:bug: Restore header to `censors.tsv`
  CPAC/nuisance/utils/utils.py
Due: none

replacing 3drefit with 3dwarp in func deoblique
  CPAC/func_preproc/func_preproc.py
  CPAC/utils/utils.py
  dev/docker_data/required_afni_pkgs.txt
Due: none

replacing 3drefit with 3dwarp in anat deoblique
  CPAC/anat_preproc/anat_preproc.py
Due: none

keeping afni packages
  .github/Dockerfiles/AFNI.23.3.09-jammy.Dockerfile
Due: autoversioning

upgrading AFNI to latest version
  .github/Dockerfiles/AFNI.23.3.09-jammy.Dockerfile
Due: autoversioning

afni
  .github/Dockerfiles/AFNI.25.1.08-jammy.Dockerfile
  .github/stage_requirements/lite.txt
  .github/stage_requirements/phase_two.txt
Due: autoversioning

afni
  dev/docker_data/checksum/AFNI.23.3.09.sha384
  dev/docker_data/checksum/AFNI.25.1.08.sha384
Due: none

afni
  .github/Dockerfiles/base-lite.Dockerfile
Due: autoversioning

afni
  .github/Dockerfiles/AFNI.25.1.08-jammy.Dockerfile
Due: autoversioning

[rebuild AFNI.23.3.09-jammy] [rebuild lite]
  .github/Dockerfiles/AFNI.23.3.09-jammy.Dockerfile
  .github/stage_requirements/lite.txt
  .github/stage_requirements/phase_two.txt
Due: autoversioning

[rebuild AFNI.23.3.09-jammy] [rebuild lite]
  dev/docker_data/checksum/AFNI.23.3.09.sha384
  dev/docker_data/checksum/AFNI.25.1.08.sha384
Due: none

[rebuild AFNI.23.3.09-jammy] [rebuild lite]
  .github/Dockerfiles/AFNI.23.3.09-jammy.Dockerfile
Due: autoversioning

[rebuild AFNI.23.3.09-jammy] [rebuild lite]
  .github/Dockerfiles/AFNI.23.3.09-jammy.Dockerfile
  .github/Dockerfiles/base-lite.Dockerfile
  dev/docker_data/required_afni_pkgs.txt
Due: autoversioning

Path conditions:
  autoversioning: any of: .*Dockerfile$|.*\.yaml$|^CPAC/info\.py$
  update-yaml-comments: any of: ^CPAC/resources/configs/pipeline_config_.*\.ya?ml
