Repository FCP-INDI/C-PAC: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoversioning, update-yaml-comments

.pre-commit-config.yaml:

# Copyright (C) 2024  C-PAC Developers

# This file is part of C-PAC.

# C-PAC is free software: you can redistribute it and/or modify it under
# the terms of the GNU Lesser General Public License as published by the
# Free Software Foundation, either version 3 of the License, or (at your
# option) any later version.

# C-PAC is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public
# License for more details.

# You should have received a copy of the GNU Lesser General Public
# License along with C-PAC. If not, see <https://www.gnu.org/licenses/>.
ci:
  skip:
    - autoversioning
    - update-yaml-comments
repos:
  - repo: local
    hooks:
      - id: autoversioning
        name: Update Dockerfiles and version comments
        entry: .github/scripts/autoversioning.sh
        language: script
        files: '.*Dockerfile$|.*\.yaml$|^CPAC/info\.py$'
      - id: update-yaml-comments
        name: Update YAML comments
        entry: CPAC/utils/configuration/yaml_template.py
        language: python
        files: '^CPAC/resources/configs/pipeline_config_.*\.ya?ml'
        additional_dependencies:
          - "click"
          - "nipype"
          - "pathvalidate"
          - "pyyaml"
          - "voluptuous"

concating match_fov to the xfm
  CPAC/registration/registration.py
Due: none

Turning EPI off for abcd-options config
  CHANGELOG.md
  CPAC/resources/configs/pipeline_config_abcd-options.yml
Due: update-yaml-comments

:rewind: Revert ":recycle: Restore consecutive forking ability"
  CPAC/pipeline/cpac_pipeline.py
  CPAC/pipeline/engine.py
  CPAC/pipeline/utils.py
  CPAC/registration/registration.py
Due: none

adding to changelog
  CHANGELOG.md
Due: none

:necktie: Stringify variants to handle chains
  CPAC/pipeline/utils.py
Due: none

changing func_input from Selected_Functional_Volume to Mean_Functional in abcd-options preconfig
  CPAC/registration/registration.py
  CPAC/resources/configs/pipeline_config_abcd-options.yml
Due: update-yaml-comments

changing func_input from Selected_Functional_Volume to Mean_Functional in abcd-options preconfig
  CPAC/registration/registration.py
Due: none

reverting some unnecessary changes
  CPAC/pipeline/schema.py
  CPAC/registration/registration.py
  CPAC/resources/configs/pipeline_config_abcd-options.yml
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/configs/pipeline_config_default.yml
  CPAC/resources/configs/pipeline_config_fmriprep-options.yml
Due: update-yaml-comments

updating the changelog
  CHANGELOG.md
Due: none

:passport_control: Document maintenance mode and codeowners
  .dockerignore
  .github/CODEOWNERS
  README.md
  SUPPORT.md
Due: none

moving the addition of bold masking below and enabling previously blocked nodeblocks
  CPAC/pipeline/cpac_pipeline.py
Due: none

adding match fov node to convert fs brain mask to native space
  CPAC/anat_preproc/anat_preproc.py
Due: none

fixing git path
  CPAC/info.py
Due: autoversioning

using pathlib instead in gitversion
  CPAC/info.py
Due: autoversioning

git path fix
  CPAC/info.py
Due: autoversioning

adding fall back for version
  CPAC/info.py
Due: autoversioning

:rewind: Revert "[pre-commit.ci] auto fixes from pre-commit.com hooks" (651cfa5)
  .github/Dockerfiles/C-PAC.develop-jammy.Dockerfile
  .github/Dockerfiles/C-PAC.develop-lite-jammy.Dockerfile
  .github/Dockerfiles/base-standard.Dockerfile
  CPAC/anat_preproc/ants.py
  Dockerfile
  variant-lite.Dockerfile
Due: autoversioning

:bug: Climb to find `.git`
  CPAC/info.py
Due: autoversioning

Update SUPPORT.md
  SUPPORT.md
Due: none

tweak SUPPORT.md language
  SUPPORT.md
Due: none

:arrow_up: Upgrade upload-artifact@v4 ← v3
  .github/workflows/regression_test_full.yml
  .github/workflows/smoke_test_participant.yml
Due: none

:recycle: Refactor autoversioning script
  .github/scripts/autoversioning.sh
  .pre-commit-config.yaml
  CPAC/resources/configs/data_config_S3-BIDS-ABIDE.yml
  CPAC/resources/configs/data_config_S3-BIDS-ADHD200.yml
  CPAC/resources/configs/data_config_S3-BIDS-ADHD200_only2.yml
  CPAC/resources/configs/data_config_S3-BIDS-NKI-RocklandSample.yml
  CPAC/resources/configs/data_config_cpac_benchmark.yml
  CPAC/resources/configs/data_settings_template.yml
  CPAC/resources/configs/group_config_template.yml
  CPAC/resources/configs/pipeline_config_abcd-options.yml
  CPAC/resources/configs/pipeline_config_abcd-prep.yml
  CPAC/resources/configs/pipeline_config_anat-only.yml
  CPAC/resources/configs/pipeline_config_benchmark-ANTS.yml
  CPAC/resources/configs/pipeline_config_benchmark-FNIRT.yml
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/configs/pipeline_config_ccs-options.yml
  CPAC/resources/configs/pipeline_config_default-deprecated.yml
  CPAC/resources/configs/pipeline_config_default.yml
  CPAC/resources/configs/pipeline_config_fmriprep-ingress.yml
  CPAC/resources/configs/pipeline_config_fmriprep-options.yml
  CPAC/resources/configs/pipeline_config_fx-options.yml
  CPAC/resources/configs/pipeline_config_monkey-ABCD.yml
  CPAC/resources/configs/pipeline_config_monkey.yml
  CPAC/resources/configs/pipeline_config_ndmg.yml
  CPAC/resources/configs/pipeline_config_nhp-macaque.yml
  CPAC/resources/configs/pipeline_config_preproc.yml
  CPAC/resources/configs/pipeline_config_rbc-options.yml
  CPAC/resources/configs/pipeline_config_regtest-1.yml
  CPAC/resources/configs/pipeline_config_regtest-2.yml
  CPAC/resources/configs/pipeline_config_regtest-3.yml
  CPAC/resources/configs/pipeline_config_regtest-4.yml
  CPAC/resources/configs/pipeline_config_rodent.yml
  CPAC/resources/configs/system_config.yml
  version
Due: autoversioning, update-yaml-comments

:bug: Include `test_configs`
  .github/scripts/autoversioning.sh
  CPAC/resources/configs/test_configs/data-test_S3-ADHD200_1.yml
  CPAC/resources/configs/test_configs/data-test_S3-ADHD200_no-params.yml
  CPAC/resources/configs/test_configs/data-test_S3-NKI-RS_fmap.yml
  CPAC/resources/configs/test_configs/data_config_S3_CoRR_5only_mult-scan.yml
  CPAC/resources/configs/test_configs/data_config_S3_CoRR_5only_mult-sess.yml
  CPAC/resources/configs/test_configs/pipe-test_ABCD.yml
  CPAC/resources/configs/test_configs/pipe-test_ANTs-3dSk-AllNuis.yml
  CPAC/resources/configs/test_configs/pipe-test_ANTs-3dSk-DistCorr3dSk.yml
  CPAC/resources/configs/test_configs/pipe-test_ANTs-3dSk-DistCorrBET.yml
  CPAC/resources/configs/test_configs/pipe-test_ANTs-BET-AllNuis.yml
  CPAC/resources/configs/test_configs/pipe-test_FNIRT-3dSk-AllNuis.yml
  CPAC/resources/configs/test_configs/pipe-test_FNIRT-BET-AllNuis-BASC.yml
  CPAC/resources/configs/test_configs/pipe-test_FNIRT-BET-AllNuis-ISC-voxel.yml
  CPAC/resources/configs/test_configs/pipe-test_FNIRT-BET-AllNuis-ISC.yml
  CPAC/resources/configs/test_configs/pipe-test_FNIRT-BET-AllNuis-MDMR.yml
  CPAC/resources/configs/test_configs/pipe-test_FNIRT-BET-AllNuis.yml
  CPAC/resources/configs/test_configs/pipe-test_all.yml
Due: none

:necktie: Get version from git
  .github/scripts/autoversioning.sh
Due: none

:recycle: Guard `license_notice`
  CPAC/__init__.py
  CPAC/pipeline/cpac_pipeline.py
Due: none

fixup! :recycle: Guard `license_notice`
  CPAC/_entrypoints/run.py
Due: none

:bug: Fix logging copy datetime bug
  CPAC/utils/monitoring/monitoring.py
  CPAC/utils/tests/test_utils.py
Due: none

:pencil2: Fix escapes in rawstring
  CPAC/utils/monitoring/monitoring.py
Due: none

:necktie: Change sidecar values from bytestrings to strings
  CPAC/utils/bids_utils.py
Due: none

:speech_balloon: Update © date
  CPAC/utils/bids_utils.py
Due: none

:truck: Get test data from S3 instead of keeping in repo
  CPAC/utils/interfaces/datasink.py
  CPAC/utils/tests/test_bids_utils.py
  dev/circleci_data/test_data/sub-NDARAB348EWR/anat/sub-NDARAB348EWR_acq-HCP_run-01_T1w.json
  dev/circleci_data/test_data/sub-NDARAB348EWR/anat/sub-NDARAB348EWR_acq-HCP_run-01_T1w.nii.gz
  dev/circleci_data/test_data/sub-NDARAB348EWR/anat/sub-NDARAB348EWR_acq-HCP_run-02_T1w.json
  dev/circleci_data/test_data/sub-NDARAB348EWR/anat/sub-NDARAB348EWR_acq-HCP_run-02_T1w.nii.gz
  dev/circleci_data/test_data/sub-NDARAB348EWR/anat/sub-NDARAB348EWR_acq-VNavNorm_T2w.json
  dev/circleci_data/test_data/sub-NDARAB348EWR/anat/sub-NDARAB348EWR_acq-VNavNorm_T2w.nii.gz
  dev/circleci_data/test_data/sub-NDARAB348EWR/anat/sub-NDARAB348EWR_acq-VNavNorm_run-01_T1w.json
  dev/circleci_data/test_data/sub-NDARAB348EWR/anat/sub-NDARAB348EWR_acq-VNavNorm_run-01_T1w.nii.gz
  dev/circleci_data/test_data/sub-NDARAB348EWR/anat/sub-NDARAB348EWR_acq-VNavNorm_run-02_T1w.json
  dev/circleci_data/test_data/sub-NDARAB348EWR/anat/sub-NDARAB348EWR_acq-VNavNorm_run-02_T1w.nii.gz
  dev/circleci_data/test_data/sub-NDARAB348EWR/anat/sub-NDARAB348EWR_acq-VNav_T2w.json
  dev/circleci_data/test_data/sub-NDARAB348EWR/anat/sub-NDARAB348EWR_acq-VNav_T2w.nii.gz
  dev/circleci_data/test_data/sub-NDARAB348EWR/anat/sub-NDARAB348EWR_acq-VNav_run-01_T1w.json
  dev/circleci_data/test_data/sub-NDARAB348EWR/anat/sub-NDARAB348EWR_acq-VNav_run-01_T1w.nii.gz
  dev/circleci_data/test_data/sub-NDARAB348EWR/anat/sub-NDARAB348EWR_acq-VNav_run-02_T1w.json
  dev/circleci_data/test_data/sub-NDARAB348EWR/anat/sub-NDARAB348EWR_acq-VNav_run-02_T1w.nii.gz
  dev/circleci_data/test_data/sub-NDARAB348EWR/dwi/sub-NDARAB348EWR_acq-64dirTRACEW_dwi.json
  dev/circleci_data/test_data/sub-NDARAB348EWR/dwi/sub-NDARAB348EWR_acq-64dirTRACEW_dwi.nii.gz
  dev/circleci_data/test_data/sub-NDARAB348EWR/dwi/sub-NDARAB348EWR_acq-64dir_dwi.bval
  dev/circleci_data/test_data/sub-NDARAB348EWR/dwi/sub-NDARAB348EWR_acq-64dir_dwi.bvec
  dev/circleci_data/test_data/sub-NDARAB348EWR/dwi/sub-NDARAB348EWR_acq-64dir_dwi.json
  dev/circleci_data/test_data/sub-NDARAB348EWR/dwi/sub-NDARAB348EWR_acq-64dir_dwi.nii.gz
  dev/circleci_data/test_data/sub-NDARAB348EWR/fmap/sub-NDARAB348EWR_dir-AP_acq-dwi_epi.json
  dev/circleci_data/test_data/sub-NDARAB348EWR/fmap/sub-NDARAB348EWR_dir-AP_acq-dwi_epi.nii.gz
  dev/circleci_data/test_data/sub-NDARAB348EWR/fmap/sub-NDARAB348EWR_dir-AP_acq-fMRI_epi.json
  dev/circleci_data/test_data/sub-NDARAB348EWR/fmap/sub-NDARAB348EWR_dir-AP_acq-fMRI_epi.nii.gz
  dev/circleci_data/test_data/sub-NDARAB348EWR/fmap/sub-NDARAB348EWR_dir-PA_acq-dwi_epi.json
  dev/circleci_data/test_data/sub-NDARAB348EWR/fmap/sub-NDARAB348EWR_dir-PA_acq-dwi_epi.nii.gz
  dev/circleci_data/test_data/sub-NDARAB348EWR/fmap/sub-NDARAB348EWR_dir-PA_acq-fMRI_epi.json
  dev/circleci_data/test_data/sub-NDARAB348EWR/fmap/sub-NDARAB348EWR_dir-PA_acq-fMRI_epi.nii.gz
  dev/circleci_data/test_data/sub-NDARAB348EWR/func/sub-NDARAB348EWR_task-movieDM_bold.json
  dev/circleci_data/test_data/sub-NDARAB348EWR/func/sub-NDARAB348EWR_task-movieDM_bold.nii.gz
  dev/circleci_data/test_data/sub-NDARAB348EWR/func/sub-NDARAB348EWR_task-movieTP_bold.json
  dev/circleci_data/test_data/sub-NDARAB348EWR/func/sub-NDARAB348EWR_task-movieTP_bold.nii.gz
  dev/circleci_data/test_data/sub-NDARAB348EWR/func/sub-NDARAB348EWR_task-peer_run-1_bold.json
  dev/circleci_data/test_data/sub-NDARAB348EWR/func/sub-NDARAB348EWR_task-peer_run-1_bold.nii.gz
  dev/circleci_data/test_data/sub-NDARAB348EWR/func/sub-NDARAB348EWR_task-peer_run-3_bold.json
  dev/circleci_data/test_data/sub-NDARAB348EWR/func/sub-NDARAB348EWR_task-peer_run-3_bold.nii.gz
Due: none

:necktie: Decode as ASCII instead of UTF-8
  CPAC/utils/bids_utils.py
Due: none
